.player-music {
  background-color: #422145 !important;
  height: 6rem;
}
.rhap_time, .rhap_current-time {
  color: white !important;
}

button:hover {
color: #31e3a5;

}

::selection {
  background-color: transparent;
  color: turquoise;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.h-16, .bg-green-900 text-white text-left{
/* background-color: #4b436c; */
background: linear-gradient(275.19deg, rgba(119, 5, 194, 0.42) 0%, #3e1150 100%);
}
.grid, .grid-cols-3, .bg-slate-700 h-screen-navbar-player overflow-hidden{

background: linear-gradient(to right top, #4b436c, #877abd, #a093d1, #cbc1ee);
}

.listsong {
  background-color: rgba(90, 35, 87, 0) 111.8%;
  background: linear-gradient(to right, #77489b 0.24%, rgba(90, 35, 87, 0) 111.8%);
}
/* 
.fa fa-download:hover{
  color: #31e343;
} */